.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  font-size: 108px;
  margin-bottom: 12px;
}

.App-header {
  background: #f1f3f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
